body {
    background: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: black;
    background-image: url("img/background.jpg");
    background-size: 100%;
    background-position: center;
    background-position: 0.8cm;
    height:500px;    
    padding:20px;
    text-align: center;
}

header a{
    color: white;
    text-decoration:none;
    text-transform: uppercase;
    margin-top: 40px;
}

header .logo a {
    background-image: url("img/logo.png");
    background-size:200px ;
    background-repeat:  no-repeat;
    display: inline-block;
    height:300px;
    position: relative;
    text-indent: -9999999px ;
    left: 50px;
    top: -60px;
    width: 300px;
}

.features {
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.features figure img{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: grey 0 0 10px;
    width: 200px;

    
}

footer {
    background:  black;
    padding: 10px 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
   display: inline-block;
   padding: 3px;
   margin-left: 15px;
}

li:first-child {
    margin-left: 0;
    
}



li a {
    font-size:15px;
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}